
body{
    background-color: rgb(235, 255, 198);
}

a:link{
	color: #FF0000; 
}

a:visited{
	color: #008000; 
} 

 a:hover{ 
	color: #FF00FF; 
} 

h1, h2{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 115, 0);
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

span{
    background-color: white;
}

img{
    width:50%;
}

h2{
    margin-left: 30px;
}

ul{
    font-family: Garamond, "Times New Roman", serif; 
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
}

.parent{
    text-align: left;
}

.div_display{
    border: 2px solid rgb(255, 115, 0);
    width: 200px;
    display: inline-block; 
}

#one{
    position: static;
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(60, 255, 0);
}

.flex_container > div{
    border: 2px solid rgb(255, 0, 234);
    width: 400px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.left_page{
    text-align: left;
}

div{
    text-align: center;
}

div a{
    font-size: 30px;
    font-weight: bold;
    color: rgb(194, 55, 0);
}

th{
    text-decoration: underline;
}

hr{
    height: 30px;
    color: lightblue;
    background-color: lightblue;
    border: none;
}